html{
    position:relative;
    min-height: 100%;
}
/*Normalize html and body elements,this style is just good to have*/
html,body{
    margin:0;
    padding:0;
    background-color: #ffffff; /*EEEEEE*/
}

#header{
    position:relative;
    background-color:#EEEEEE;
    height:900px;
    width:100%;
}

#header:after{
    content:'';
    background:url("../../../images/wave.svg") no-repeat;
    background-size:contain;
    background-position:bottom;
    position:absolute;
    bottom: 0;
    left:0;
    width:100%;
    height:100%;
}

#header h1{
    text-align: left;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 0;
    color: #5E1211;
    opacity: 1;
}

p.ptext{
    text-align: left;
    font-weight: 300;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 0;
    color: #333333;
    opacity: 1;
}

.color{
    color:#5E1211;
}

.background{
    background-color:#5E1211;
}

.background:hover{
    background-color:#5E1211;
}

.background:active{
    background-color:#5E1211;
}

.fs72{
    font-size:72px;
}

.self-container{
    width:80%;
    margin: 0 auto;
    padding-top:192px;
    padding-bottom:192px;
}



#navigation{
    min-height:80px;
    width:100%;
    position:relative;
    background-color:#EEEEEE;
    border-bottom:1px solid #fff;
}

.navigation-container{
    width:80%;
    margin:0 auto;
}

.navigation-container h2{
    padding-top:10px;
    text-align: left;
    font-weight: bold;
    font-family : 'DM Sans', sans-serif;
    font-size:40px;
    letter-spacing: 0;
    color: #333333;
    opacity: 1;
}

.fs16{
    font-size:16px !important;
}

.mh60oh{
    max-height: 60px;
    overflow: hidden;
}

.navigation-container ul{
    float:right;
}
#navigation a.nav-link{
    font-weight: bold;
    font-size:18px;
    font-family: 'DM Sans',sans-serif;
    padding:26px 15px 25px 0;
    letter-spacing: 0;
    color: #333333;
    opacity: 1;
}

 a.login{
    color:#fff;
    padding:10px 30px !important;
    border-radius: 3px;
    margin-left: 30px;
     margin-top: 15px;
}


.navigation-ul li.login:hover{
    color:#fff;
}

#footer{
    height:80px;
    clear: both;
    /*position: relative;*/
    position:absolute;
    bottom:0;left:0;
    margin-top: -80px;
    width:100%;
    text-align: left;
    font-size:16px;
    font-weight: 300;
    font-family: 'DM Sans' , sans-serif;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    padding-top:28px;
}

.main-h2{
    text-align: left;
    font-weight: bold;
    font-size:56px;
    font-family:'DM Sans',sans-serif;
    letter-spacing: 0;
    color: #5E1211;
    opacity: 1;
}

.w80{
    width:80%;
}

#categories{
    background-color:#ffffff;
    margin-bottom:100px;
}

.categoryWrapper{
    height:300px;
    cursor:pointer;
    width:100%;
    padding:15px;
    transition: 0.15s padding ease-in;
}

.categoryContent{
    background-color:#5B5B5B;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    border-radius: 7px;
    padding:32px;
}

.main-h4{
    text-align: left;
    font-weight: bold;
    font-size:24px;
    font-family:'DM Sans' , sans-serif;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    padding-top:90px;
}

.color999{
    color:#999999 !important;
}

.mh60{
    max-height:60px !important;
}

.h200{
    height: 200px !important;
}

.mt100{
    margin-top:100px;
}

.mt50{
    margin-top:50px;
}

.mt30{
    margin-top:30px;
}

#benefits{
    background-color:#EEEEEE;
}

.text-center{
    text-align: center !important;
}

.benefitsImage{
    margin-top:80px;
    height:100%;
    margin-bottom:80px;
}

.imageWrapper{
    width:400px;
    height:400px;
    border-radius:300px;
    background-color:white;
}

.color333{
    color:#333333 !important;
}

.pt0{
    padding-top:0px !important;
}

.mt30{
    margin-top:30px !important;
}

.mt62{
    margin-top:62px !important;
}

.fs16{
    font-size:16px !important;
}

#experiences{
    background-color:white;

}

a{
    text-decoration: none !important;
}

.experienceWrapper{
    width:100%;
    height: 285px;
    padding:15px;
    transition: 0.15s padding ease-in;
    text-decoration: none;

}

.experienceItem{
    width:100%;
    height:100%;
    background-color:#EEEEEE;
    border-radius:7px;
    padding:32px;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}

.text-white{
    color:white !important;
}

.experienceWrapper:hover{
    padding:20px;
    cursor:pointer;
    transition: 0.15s padding ease-out;
    text-decoration: none;
}

.itemCategory{
    text-align: left;
    font-weight: 300;
    font-size:16px;
    font-family:'DM Sans',sans-serif;
    letter-spacing: 5px;
    color: #333333;
    text-transform: uppercase;
    opacity: 1;
}

.itemInsideWrapper{
    padding-top:80px;
    position:relative;
}

.itemh5{
    text-align: left;
    height: 56px;
    overflow: hidden;
    font-weight: bold;
    font-size:24px;
    font-family:'DM Sans',sans-serif;
    letter-spacing: 0;
    color: #333333;
    opacity: 1;
}

.itemDate{
    text-align: left;
    font-weight:300;
    font-family: "DM Sans",sans-serif;
    font-size:16px;
    letter-spacing: 0;
    color: #999999;
    opacity: 1;
}

.itemPrice{
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
    font-weight:bold;
    font-family: "DM Sans",sans-serif;
    font-size:20px;
    margin-bottom:10px;
    letter-spacing: 0;
    color: #333333;
    opacity: 1;
}


@media(max-width:1199px){
    #header h1{
        text-align:center;
    }
    #header .ptext{
        text-align:center;
    }
}

@media(max-width:1235px){
    #navigation a.nav-link{
        font-size:12px;
        padding:15px 15px 10px 0;
    }

    h2.h2-text-navigation{
        font-size:18px;
        padding-top:23px;
    }

    .btn-custom{
        font-size: 12px;
        margin-top: 7px;
    }
}

.show991{
    display:none !important;
}

.navbarText{
    text-align: left;
    font-weight: bold;
    font-size:40px;
    font-family:"DM Sans", sans-serif;
    letter-spacing: 0;
    color: #333333;
    opacity: 1;
}

@media(max-width:991px){
    #benefits .main-h2 {
        text-align:center;
    }
    .imageWrapper{
        width:250px;
        height: 250px;
        margin:0 auto;
    }

    #navigation a.nav-link{
        font-size:16px;
        padding:10px 0 !important;
    }

    .navigation-container ul {
        float:none;
        text-align: center;
    }

    #navigation a.nav-link {
        padding:0;
    }

    .show991{
        margin-top: 5px !important;
        display:block;
    }

    .hide991{
        display:none;
    }
}

.btn-custom{
    height:40px;
    margin-top: 5px;
    margin-left:30px;
}

@media(max-width: 600px){
    .show991{
        display:none !important;
    }

    .hide991{
        display:block;
        width:100%;
        margin-left:0px;
    }
}

#loginRegister{
    background-color:#EEEEEE;
}

.invalid-feedback {
    display:block;
}

.btn-own{
    margin-top:10px;
    border:none;
    width:100%;
}

#loyalty{
    background-color:#ffff !important;
    height:100%;
}

.w80{
    width:80%;
}

.circle{
    width:60px;
    height:60px;
    background-color:white;
    margin:0 auto;
    border-radius:60px;
}

.mt10{
    margin-top:10px;
}

.ml10{
    margin-left:10px;
}

.starWrapper{
    width:100%;
}

.empty_star{
    background:url("../../images/star_empty.png");
    background-repeat: no-repeat;
    background-size:contain;
    width:20px;
    height:20px;
    margin-top:5px;
}

.mt20{
    margin-top:20px !important;
}

.row1{
    width:30px;
    margin:0 auto;
}

.row2{
    width:70px;
    margin:0 auto;
}

.leftSideLoyalty{
    width:350px;
    height:100vh;
    background-color:#EEEE;
    padding:20px;
}

.loyaltyRank{
    letter-spacing: 0;
    opacity: 1;
    text-align: center;
    font-family:"Trebuchet MS";
    font-size:18px;
    font-weight: bold;
    font-style:italic;
    letter-spacing: 0;
    color: #5E1211;
}

.w60{
    width:60% !important;
}

.loyaltyRankSecondRow{
    display:block;
    font-size:15px;
}

.pt10{
    padding-top:10px;
}

legend{
    border-bottom:1px solid #707070;
    padding:15px 20px;
    width:80%;
    margin:0 auto;
    display:block;
}

.loyaltyList{
    padding-left:30px;
   padding-top:40px;
}


.loyaltyList li{
    padding-top:5px;
}

.loyaltyLogOut{
    display: block;
    width: 100%;
    padding-left:30px;
    padding-top:40px;
}

.loaltyNavigationItem{
    cursor: pointer;
    color: #707070;
    font-size:16px;
    font-family:"Trebuchet MS";
}

.mainContentLoyalty{
    width: calc(100% - 350px);
}

.loyalty-container{
    width:100%;
    height:100%;
    padding:40px;
}

.pb30{
    padding-bottom:30px;
}

.mh250{
    min-height:250px;
}

.mh120{
    min-height: 120px;
}

.pr15{
    padding-right:15px;
}

.discountImageWrapper{
    width:100%;
    height:100%;
}

.discountWrapper{
    box-shadow: 0px 3px 6px #00000029;
    margin-top:20px;
    position:relative;
}

.mr0{
    margin-right: 0;
}

.pr0{
    padding-right: 0;
}

.pl0{
    padding-left:0 !important;
}


.discountTextWrapper{
    padding:20px;
    width:100%;
    height:100%;
    position:relative;
}

.discountTextWrapper:after{
    content:'';
    position:absolute;
    top:10%;
    right:0;
    border-right: 1px solid #707070;
    width:1px;
    height:80%;
}

@media(max-width: 1199px){
    .discountTextWrapper:after{
        content:'';
        position:absolute;
        bottom:10%;
        right:0;
        border-right: none;
        border-bottom: none;
        width:80%;
        height:1px;
    }
}

.discount-price-wrapper{
    width:100%;
    height:100%;
    padding:20px;
}

.loyalty-h3{
    text-align: left;
    font-weight: bold;
    font-size:18px;
    font-family: "Trebuchet MS";
    letter-spacing: 0;
    color: #333333;
    opacity: 1;
}

.loyalty-discount-date{
    padding-top:7px;
    text-align: left;
    font-style:italic;
    font-size:14px;
    font-family: "Trebuchet MS";
    letter-spacing: 0;
    color: #333333;
    opacity: 1;
}

.loyalty-discount-text{
    padding-top:23px;
    text-align: left;
    font-size:14px;
    font-family: "Trebuchet MS";
    letter-spacing: 0;
    color: #333333;
    opacity: 1;
}

.discount-price{
    text-align: right;
    display:block;
    font-weight: bold;
    font-size:16px;
    font-family: "Trebuchet MS";
    letter-spacing: 0;
    color: #5E1211;
    opacity: 1;
}

.discount-old-price{
    text-align: right;
    float:right;
    font-weight: bold;
    font-size:12px;
    font-family: "Trebuchet MS";
    letter-spacing: 0;
    color: #8D8D8D;
    opacity: 1;
}

.line-throught{
    text-decoration: line-through;
}

.fs12{
    font-size:12px !important;
}

.pt20{
    padding-top:20px;
}

.pt30{
    padding-top:30px;
}

.w100{
    width:100%;
}

@media(max-width: 1312px){
    .loyalty-h3{
        font-size:16px;
    }
}

@media(max-width: 1226px){
    .loyalty-h3{
        font-size:14px;
    }
    .loyalty-discount-text{
        font-size:12px;
    }
    .discount-price-wrapper button.btn-custom{
        font-size:10px !important;
    }
    .discount-old-price{
        font-size:10px;
    }
}

@media(max-width:1161px){
    .discount-old-price{
        font-size:8px;
    }
    .discount-price-wrapper button.btn-custom{
        font-size:8px !important;
    }
    .discount-price{
        font-size:16px;
    }
}

@media(max-width: 1400px){
    .leftSideLoyalty{
        width:250px;
    }

    .mainContentLoyalty{
        width:calc(100% - 250px);
    }
}

p.loyalty-discount-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* number of lines to show */
}

@media(max-width: 842px){
    .loyalty-container .main-h2{
        font-size:40px;
    }
}

.navigationActive{
    font-weight: bold;
}

.p20{
    padding:20px;
}

.historyItem{

}

.p10{
    padding:10px;
}

.p5{
    padding:5px;
}

.main-h6{
    text-align: left;
    font-family: "Trebuchet MS";
    font-size:16px;
    font-weight: bold;
    font-style:italic;
    letter-spacing: 0;
    color: #333333;
    opacity: 1;
}

.textInBox{
    text-align: center;
    font-weight: bold;
    font-size:16px;
    font-family:"Trebuchet MS";
    letter-spacing: 0;
    color: #333333;
    opacity: 1;
}

.btn-history{
    margin: 0 !important;
    padding: 0 30px !important;
    height:auto !important;
    font-weight: bold;
    background-color:#FFEFBF !important;
    border:1px solid #5E1211 !important;
    color:#5E1211 !important;
}

.btn-history:hover{
    margin: 0 !important;
    padding: 0 30px !important;
    height:auto !important;
    font-weight: bold;
    background-color:#FFEFBF !important;
    border:1px solid #5E1211 !important;
    color:#5E1211 !important;
}

.green{
    color:darkgreen;
}

.red{
    color:darkred;
}


.profilePicture{
    width:200px;
    height:200px;
    border-radius:200px;
    border: 1px solid #EEE;
    margin:0 auto;
    margin-bottom:30px;
    cursor:pointer;
}

.hidden{
    display:none;
}

.basket{
    font-size: 30px !important;
    margin-left: 40px;
    cursor:pointer;
}

@media(max-width:991px){
    .basket{
        text-align: center;
        padding:20px;
        margin:0;
    }

    .nav-item{
        text-align: center;
    }
}

.borderer{
    border-top:1px solid #333333;
    border-right:1px solid #333333;
}

.checkRows > .borderer:first-child{
    border-left:1px solid #333333;
}

.checkRows:last-child > .borderer{
    border-bottom:1px solid #333333;
}

.basket-icon{
    position:relative;
}
.basket-icon:after{
    content:attr(data-content);
    position:absolute;
    top: 39%;
    left: 63%;
    width:5px;
    height:5px;
    color:white;
    transform: translate(-50%,-50%);
    font-size:8px;
    font-family: "DM Sans";
    /*background-color:white;*/
}

.color-white{
    color:white !important;
}

.br0{
    border-radius: 0 !important;
}

.btn-red {
    background: #5e1312;
    color: white;
    text-decoration: none;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 9px;
    font-family: 'FuturaPTDemi', sans-serif;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    position: relative;
}

.btn-red .border {
    position: absolute !important;
    left: 5px;
    top: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border: 1px solid rgba(255, 255, 255, 0);
    opacity:0;
}

.btn-red:hover {
    text-decoration: none;
    color: white
}

.btn-red:hover .border {
    border: 1px solid rgba(255, 255, 255, 0.2);
    opacity:1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s
}

.btn-red:hover .border span {
    display: inline-block;
    position: absolute
}

.btn-red:hover .border span:nth-child(1) {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 0;
    border-color: white transparent transparent transparent;
    left: 0;
    top: 0
}

.btn-red:hover .border span:nth-child(2) {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 0;
    border-color: transparent white transparent transparent;
    right: 0;
    top: 0
}

.btn-red:hover .border span:nth-child(3) {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 6px 6px;
    border-color: transparent transparent white transparent;
    right: 0;
    bottom: 0
}

.btn-red:hover .border span:nth-child(4) {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 0 6px;
    border-color: transparent transparent transparent white;
    left: 0;
    bottom: 0
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

.countersWrapper{
    width: 35px;
    height: 35px;
    display: inline-block;
    float: left;
    padding-top: 6px;
    text-align: center;
    cursor:pointer;
}

.countersWrapper:nth-child(2){
    border-top:1px solid #5e1210;
    border-bottom:1px solid #5e1210;
    font-size: 12px;
    padding-top: 8px;
    cursor:default;
}

.disabledWrapper {
    background-color:#464646 !important;
    cursor:default;
}

.priceCheckerBasket{
    position:fixed;
    z-index:2;
    bottom:0;
    left:0;
    width:100%;
    height:100px;
    background-color:white;
    box-shadow: 6px 6px 6px 6px #00000029;
}

.finalPriceBasket{
    font-size:16px;
    float:right;
    padding-top:20px;
}

.finalPriceBasketNum{
    font-size:20px;
    font-weight: bold;
}

.priceCheckerBasket button{
    margin-top:25px;
    float: right;
    margin-left: 59px;
}

.priceCheckerBasket button.btn-back{
    background-color: #434343 !important;
    float: left;
    margin-left: 0;
}

.op7{
    opacity:.5;
}

.op1{
    opacity:1;
}

.mh80{
    max-height: 80px !important;
}

.p0{
    padding:0 !important;
}

.mtm10{
    margin-top: -10px;
}

.p4{
    padding: 4px !important;
}

.fwb{
    font-weight: bold !important;
}


nav > ul.pagination > li.page-item > span.page-link{
    border-radius:0 !important;
    color:#5e1312;
    border:1px solid #5e1312;
}

nav > ul.pagination > li.page-item.active > span.page-link{
     background-color:#5e1312;
     color:white;
     border:1px solid #5e1312;
 }

nav > ul.pagination > li.page-item.disabled > span.page-link{
    color:#4e4e4e;
}

.page-link {
    border-radius:0 !important;
    color:#5e1312;
    border:1px solid #5e1312;
}

.page-link:hover {
    border-radius:0 !important;
    color:#5e1312;
    border:1px solid #5e1312;
}

.page-item:last-child .page-link {
    border-radius:0 !important;
}

.mw70{
    min-width: 70% !important;
}

.categoryWrapper:hover{
    padding:20px;
    transition: 0.15s padding ease-out;
}

#itemPage{
    background-color: white;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.experienceWrapperIn{
    width:90%;
    margin:0 auto;
    min-height:300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#itemPage p.ptext{
    font-size: 17px;
}
#itemPage h1.fs72{
    font-size:53px;
}

#itemPage button.btn-red{
    width:90% !important;
    margin-left:5%;
}

.fs20{
    font-size:20px;
}

.priceWrapper{
    margin-left:5%;
}

@media(max-width:991px){
    #categories .main-h2{
        text-align: center !important;
    }
    #categories p.ptext{
        text-align: center;
    }

    #benefits .main-h2{
        text-align: center;
    }
    #benefits h2.w60{
        width:100% !important;
    }

    #experiences .main-h2{
        text-align: center;
    }

    #navigation button.btn-red{
        margin-top: 0;
        margin: 0 auto;
        display: block;
    }

    .basket{
        width: 100%;
    }
}

legend::after{
    content:attr(data-content);
    color: #5e1212;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translate(-50%,0);
    background-color: white;
    padding: 0 35px;
}

@media(max-width:767px){
    #benefits .main-h4{
        text-align: center !important;
    }

    #benefits .ptext{
        text-align: center !important;
    }
}

.fs14{
    font-size:14px !important;
}

.categoryContent{
    position:relative;
}
.categoryContentAbsolute{
    position:absolute;
    top:0;left:0;
    width:100%;
    height:100%;
    padding: 32px;
    z-index:3;
}

.categoryContent::after{
    content:'';
    position:absolute;
    top:0;left:0;
    background-color:#3a3a3a;
    width:100%;
    height:100%;
    border-radius: 7px;
    padding: 32px;
    z-index:1;
    opacity:.3;
}

.color3a{
    color:#3a3a3a !important;
}
.benefitAelement{
    padding-left:0px !important;
    transition: padding-left .3s;
}

.benefitAelement:hover{
    padding-left:15px !important;
    transition: padding-left .3s;
}

.experienceItem{
    position:relative;
}

.experienceItem::after{
    content:'';
    position:absolute;
    top:0;left:0;
    width:100%;
    border-radius:7px;
    height:100%;
    background-color:#3a3a3a;
    z-index:1;
    opacity:.3;
}

.experienceItemContent{
    position:absolute;
    padding: 32px;
    top:0;left:0;
    z-index:3;
    width:100%;
    height:100%;
}

.h130{
    height: 130px !important;
}

.mainImageSubpage{
    min-height: 350px;
    width:100%;
    margin:0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.smallImage{
    min-height: 50px;
    width:100%;
    margin:0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
